{% load static %}
<html>
<head>
</head>s

<body background="{% static 'bank/images/sa.jpg' %}">


        <p>.</p>


<table bgcolor ="red" width = "100%">
         <tr>
            <td>
               <center><h1> Wrong User Name Or Passwords </h1></center>
            </td>
         </tr>
      </table>
<table bgcolor ="yellow" width = "100%">
         <tr>
            <td>
               <center><h1> <a href="homepage"> Return to Homepage</a> </h1></center>
            </td>
         </tr>
      </table>
<table bgcolor ="#09D7FF" width = "100%">
         <tr>
            <td>
               <center><h1> <a href="login"> Try Again</a> </h1></center>
            </td>
         </tr>
      </table>

</body>
</html>
