{% load static %}
<html>
<head>
	<style type="text/css">

		body{
			background-image:url("{% static 'bank/images/okk.png' %}");
		color: #d42020 ;
		font-size: 20px;

		background-size:75%;

		}
		h1{
		   border-style: solid;
           border-width: 2px 10px 4px 20px;
           border-color: black;
           margin-left: 400px;
           margin-right: 400px;
           font-style: Arial;
           padding: 10px;
           font-size: 40px;
           color: black;

 		}

	</style>
</head>
<div>
	<center>

		<p><h1>Name: Mujahidul Islam<br></h1>
	Phone: 01955384162<br>
		Email: 17101091@uap-bd.edu<br>
		Home Town: Kishoregonj<br>
		Postal Code: 2330

	</p>
	</center>

</div>
<body>
</body>
</html>
