{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


		<link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>


		<script src="{% static 'themes/js/superfish.js' %}"></script>
		<script src="{% static 'js/pass.js' %}"></script>



		  <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

		<![endif]-->
	</head>
    <body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('./static/bank/images/bg.jpg');">
			<div class="wrap-login100">


					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
						<h1><b background-color="red"> <a href="../../homepage" class="active">Home</a></b></h1>

					</span>

					</span>
					  <form method="POST" action="{% url 'login' %}" name="main">
						  	{% csrf_token %}

						  <div class="wrap-input100 validate-input" data-validate = "Enter username">
					        	<input class="input100" type="text" name="username" placeholder="Username">
						        <span class="focus-input100" data-placeholder="&#xf207;"></span>
					     </div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							 <input type="submit" name="login"   value="Login"/>
						</button>
					</div>
					  </form>

				</form>
			</div>
		</div>
	</div>




  <script src="{% static 'js/pass.js' %}"></script>
    </body>
</html>