{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="{% static 'css/Main_B.css' %}">
	</head>
<body>
	<header>
	<div class="logo">
		<a class="img" href="https://facebook.com"> <img class="img1" src="./static/bank/images/wb_bank.jpg"> </a>
		 <font face = "Comic sans MS"><p style="padding:0px; margin-right:000px; margin-left:100px; color:white ; font-size:50px ; background-color:black ">Western Union Bank</p></font>
		</div>
	</header>
<li class="bar">
<ul class="topnav">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="https://www.google.com/search?q=western+union+bank+news&source=lnms&tbm=nws&sa=X&ved=0ahUKEwiRidzjmqLjAhUSi3AKHZtBAPcQ_AUIEigD&biw=1366&bih=651">News</a></li>
  <li><a href="contact">Contact</a></li>
  <li class="right"><a href="https://en.wikipedia.org/wiki/Western_Union">About</a></li>

	<li class="dropdown">
    <a href="useropt"class="dropbtn">Sign in</a>


    <li>
      <!--<a href="{% static '../templates/data/sign_up.html' %}">Sign Up</a>-->
      <a href="../../sign_up">Sign Up</a>

   <!-- <a href="User_menu.html">User</a>-->
    </li>
    </li>
  </li>
</ul>
</li>

</ul>
</div>
<div style="padding:0 16px;">


</div>
<div class="icon-bar">
  <a href="https://www.facebook.com/WesternUnion/" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/westernunion?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://plus.google.com/+westernunion" class="google"><i class="fa fa-google"></i></a>
  <a href="https://www.linkedin.com/company/western-union" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.youtube.com/user/westernunion" class="youtube"><i class="fa fa-youtube"></i></a>
</div>


</body>
</html>