{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/User_opt.css' %}">

</head>

<body style="background-image: url(M_CSS/pic/932180.jpg);height:100%;width 100%">
	<div class="bg">
		<div class="regis">
		<div class="but" style="padding-left:40%">
			<button class="btn success"> <a href="login">User</a></button>
			<button class="btn info"><a href="../../sign_up">Sign Up</a></button>
			<button class="btn info"><a href="admin1">Admin</a></button>
			<button class="btn warning"><a href="admin">Manager</a></button>
			

	</div>
		</div>
	</div>

	
	</body>
</html>
